html 
  head 
    title formulario 
    include ../partials/menu

  body 
    form(action="/formulario" method="POST") 
      fieldset
        label(for="name") Nombre 
        input(type="text" name="name" id="name")
      fieldset
        label(for="description") Description 
        input(type="text" name="description" id="description")
      fieldset 
        label(for="image") Imagen 
        input(type="text" name="image" id="image")
      br
      button(type="submit") Enviar 
